<template>
  <div class="p-4 w-72">
    <div class="rounded overflow-hidden mb-4 border border-slate-200 hover:shadow-lg p-2 pt-4 h-full flex flex-col">
      <img
        class="card rounded-full mx-auto"
        width="130"
        height="auto"
        :alt="`Profile picture of ${psychologistName}`"
        :title="`Profile picture of ${psychologistName}`"
        :src="`${psychologist.profileImageUrl}`"
      />
      <div class="px-4 py-4 pb-2">
        <div class="text-2xl text-center">
          {{psychologistName}}
        </div>
        <p class="text-gray-700 text-yellow-600 text-center">
          {{psychologistType}}
        </p>
        <p class="text-gray-700 text-sm text-center pt-2">
          {{psychologist.bioByline}}
        </p>
      </div>
      <div class="pt-4 flex justify-center text-yellow-600 mt-auto">
        <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"  width="18" height="18"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M128 0c17.7 0 32 14.3 32 32V64H288V32c0-17.7 14.3-32 32-32s32 14.3 32 32V64h48c26.5 0 48 21.5 48 48v48H0V112C0 85.5 21.5 64 48 64H96V32c0-17.7 14.3-32 32-32zM0 192H448V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V192zm64 80v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H80c-8.8 0-16 7.2-16 16zm128 0v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H208c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H336zM64 400v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H80c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H208zm112 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H336c-8.8 0-16 7.2-16 16z"/></svg>
        {{nextAvailable}}
      </div>
      <div class="grid grid-cols-3 text-sm pb-0 mt-1">
        <button
          v-for="(time, timeIndex) in availableSlots"
          :key="time"
          @click="selectedTime=timeIndex"
          class="h-10 font-semibold rounded-md text-white m-1"
          :class="{
            'bg-yellow-800': selectedTime !== timeIndex,
            'bg-black': selectedTime === timeIndex,
          }">
          {{time}}
          <div v-show="selectedTime === timeIndex" class="text-xs">
            (+$25)
          </div>
        </button>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { computed } from 'vue';
  const { $dayjs } = useNuxtApp();

  // Props
  const props = defineProps([ 'data' ]);
  const psychologist = props.data;

  // Data
  const selectedTime = ref(-1);

  // Computed Properties
  const psychologistName = computed(() => `${psychologist.firstName} ${psychologist.lastName}`);
  const psychologistType = computed(() => {
    return psychologist.psychologistType === 'General' ? 'Psychologist' : `${psychologist.psychologistType} psychologist`;
  });
  const nextAvailable = computed(() => {
    if (!psychologist.isAvailableForNewClients) return 'Unavailable to new clients';
    const date: Date = new Date(psychologist.nextAvailable);
    return `From ${$dayjs(date).format('dddd, Do MMM')}`;
  });
  const availableSlots = computed(() => {
    return psychologist.availableSlots;
  });
</script>

<style scoped>
img.card {
  filter: saturate(0%);
}
</style>