<template>
  <div>
    <div class="flex flex-wrap max-w-6xl mx-auto px-4 space-x-4 mt-8">
      <select 
        v-model="selectedType" 
        class="px-2 py-3 rounded border border-slate-200 hover:border-slate-400 cursor-pointer w-48">
        <option :value="0" selected>Any Type</option>
        <option :value="1">Clinical Psychologist</option>
        <option :value="2">General Psychologist</option>
      </select>
      <select 
        v-model="selectedGender" 
        class="px-2 py-3 rounded border border-slate-200 hover:border-slate-400 cursor-pointer w-48">
        <option :value="0" selected>Any Gender</option>
        <option :value="1">Female</option>
        <option :value="2">Male</option>
      </select>
      <select 
        v-model="specialisation" 
        class="px-2 py-3 rounded border border-slate-200 hover:border-slate-400 cursor-pointer w-48">
        <option value="" selected>Any Specialisation</option>
        <option :value="special" v-for="special of specialisations" :key="special">{{special}}</option>
      </select>
      <input 
        v-model="nameSearch"
        class="px-2 py-3 rounded border border-slate-200 hover:border-slate-400 cursor-pointer w-48" 
        placeholder="Search by Name" />
      <div 
        v-if="filtersAreApplied"
        @click="clearFilters"
        class="px-2 py-3 text-blue-400 hover:text-blue-600 cursor-pointer">
        Clear Filters
      </div>
    </div>
    <div class="flex flex-wrap max-w-6xl mx-auto justify-center mt-4">
      <card 
        v-for="psychologist in psychologists" 
        :data="psychologist" 
        :key="psychologist.id" />
    </div>
  </div>
</template>

<script setup lang="ts">
  import { ref } from 'vue';
  import { usePsychologistsAPI } from '../composables/psychologists';

  // Reactive Data
  const selectedType = ref(0);
  const selectedGender = ref(0);
  const specialisation = ref("");
  const nameSearch = ref("");

  // Computed
  const filtersAreApplied = computed(() => {
    return selectedType.value !== 0
        || selectedGender.value !== 0
        || specialisation.value.length
        || nameSearch.value.length;
  })
  const psychologists = computed(() => {
    if (!filtersAreApplied) return usePsychologistsAPI;
    return usePsychologistsAPI.filter(psy=>{
      let OK = true;
      // Check psychologistType is OK
      if(selectedType.value === 1 && psy.psychologistType !== 'Clinical'
      || selectedType.value === 2 && psy.psychologistType !== 'General') {
        OK = false;
      }
      // Check gender is OK
      if(selectedGender.value === 1 && psy.gender !== 'Female'
      || selectedGender.value === 2 && psy.gender !== 'Male') {
        OK = false;
      }
      if(specialisation.value.length && psy.specialisations.indexOf(specialisation.value) === -1) {
        OK = false;
      }
      // Check name search matches
      const fullName = `${psy.firstName} ${psy.lastName}`
      if(nameSearch.value.length && fullName.toLowerCase().indexOf(nameSearch.value.toLowerCase()) === -1) {
        OK = false;
      }
      return OK;
    })
  });

  const specialisations = computed(() => {
    const specialisations = [];
    for(let psychologist of usePsychologistsAPI) {
      specialisations.push(...psychologist.specialisations)
    }
    return [...new Set(specialisations)]
  });

  function clearFilters(): void {
    selectedType.value = 0; 
    selectedGender.value = 0; 
    specialisation.value = "";
    nameSearch.value = ""; 
  }
</script>